BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowShortFunctionsOnASingleLine: Empty
ObjCSpaceBeforeProtocolList: true
ObjCSpaceAfterProperty: true
ObjCBlockIndentWidth: 4
IndentCaseLabels: true
AlignAfterOpenBracket: Align
AlignOperands: true
BreakBeforeBraces: Allman
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SpacesInContainerLiterals: true
Language: ObjC
ColumnLimit: 0
AllowAllArgumentsOnNextLine: true
BinPackArguments: true
